.nav {
	grid-area: n;
	background-color: #000000;
	color: #ffffff;
	font-size: 20px;
}
.item {
	color: white;
	padding: 20px;
}
.item a {
	color: #9e9e9e;
}
.item .active {
	color: #ffffff;
	padding: 20px;
	font-size: 25px;
}
