.profileInfo {
	color: #ffffff;
	text-align: center;
	margin: auto;
}
.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.descriptionIlock {
	padding: 10px;
}
.myContacts {
	display: flex;
	flex-direction: column;
}
.aboutMeWrapper {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 350px;
}
.aboutMeWrapper input {
	padding: 5px;
	font-size: 15px;
}
