.nav {
	grid-area: n;
	background-color: #000000;
	color: #ffffff;
	font-size: 20px;
}
.item {
	color: white;
	padding: 20px;
}
.item a {
	color: rgb(255, 255, 255);
}
.item .active {
	color: green;
	padding: 20px;
	font-size: 25px;
}
